src/main/mule/test-3.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="cd831fd0-3db7-4b5d-9023-a8851623b4b0" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="test-3Flow" doc:id="f45f079c-f5e5-425e-a154-e620a1bdec1a" >
		<http:listener doc:name="Listener" doc:id="e42ed184-aee8-47c0-8e54-f02c8667b119" config-ref="HTTP_Listener_config" path="/test3"/>
		<ee:transform doc:name="Transform Message" doc:id="7491fe63-b998-4b48-bd23-54ea2fa12f86" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"name" : "hemanth"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="165770b1-862e-4757-b90f-adf4811f2cfd" message="#[payload]"/>
	</flow>
</mule>
